#header{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}
#background-video{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px);
}
.background-gradient{
    position: absolute;
    display: block;
    width: 100%;
    height: 90vh;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, rgba(242, 242, 242, 0.23) 0%, rgb(138, 185, 255) 100%);
}
.header-content{
    position: relative;
    z-index: 2;
    margin-right: 125px;
    display: flex;
    flex-direction: column;
}
.header-content > h1{
    font-size: 100px;
    font-weight: 600;
    color: #0E1E4A;
    margin: 0;
}
.header-content > h2{
    font-size: 40px;
    font-weight: 600;
    color: #0076FF;
    margin: 0;
    line-height: 10px;
}
.navbar{
    z-index: 3;
    padding: 15px 25px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.84);
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
}
.navbar-brand{
    color: #0E1E4A;
}
.brand-name > a {
    font-size: 25px;
}
#about{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.card > p {
    font-size: 20px;
    text-align: left;
    margin: 0;
}
.card{
    background-color: rgb(216, 216, 216);
    padding: 25px;
    border-radius: 23px;
    border: none;
    font-weight: 200;
    max-width: 600px;
}
.card-right{
    background: rgb(67,142,255);
    background: linear-gradient(76deg, rgba(67,142,255,1) 0%, rgba(40,85,153,1) 100%);
    color: white;
}
.card-left{
    color: #232323;
}
.created-at-text{
    width: max-content;
}
.row-left{
    display: flex;
}
.row-right{
    display: flex;
    justify-content: right;
}
.row-left > span {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.row-right > span {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.user-wrapper{
    background-color: #0076FF;
    width: 120px;
    height: 120px;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.user-wrapper > .fa-user{
    color: #C7DDFF;
    font-size: 60px;
}
.row-input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.row-input{
    height: 120px;
    width: 50%;
    font-size: 30px;
    resize: none;
    transition: 0.3s;
}
.input-btn{
    transition: 0.3s;
    width: 100px;
}
#popular-categories{
    padding: 40px 25px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#popular-categories > h2{
    font-size: 65px;
    font-weight: 600;
    text-align: center;
}
.categories-wrapper{
    display: grid;
 
    justify-items: center;
    grid-template-columns: repeat(4, 1fr); 
    gap: 25px;
}
.cat-card{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}
.card-header{
    width: 150px;
    height: 150px;
    transition: 0.3s;

    background-color: #0076FF;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.cat-card:hover .card-header{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card-icon{
    color: #C7DDFF;
    font-size: 60px;
    filter: drop-shadow(2px 2px 2px #23232377);
}
.card-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-footer > h3{
    margin: 0;
}
.card-footer > h4{
    color: #0076FF;
    margin: 0;
}
#how-to-start{
    display: flex;
    padding: 40px;
    position: relative;
}
#how-to-start > .hts-wrapper{
    position: relative;
}
#how-to-start > .hts-wrapper > h2{
    font-weight: 600;
    font-size: 65px;
}
#how-to-start > .hts-wrapper > p{
    font-size: 20px;
    width: 60%;
    min-width: 610px;
}
.hts-card{
    max-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.hts-header{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hts-header > .fa-solid {
    font-size: 50px;
    color: #285599;
}
.hts-body{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
.hts-row{
    display: flex;
    justify-content: left;
    gap: 75px;
}
.line{
    position: absolute;
    width: 70%;
    top: 50%;
    transform: translateY(-50%);
}
.question-mark-wrapper{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-70%) scale(150%);
}
.qm-1{
    font-size: 250px;
    color: #0076FF;
    filter: drop-shadow(5px 5px 0px #0c2f91);
}
.qm-2{
    font-size: 200px;
    color: #0053B4;
    filter: drop-shadow(5px 5px 0px #0E1E4A);
    position: absolute;
    left: -25px;
    bottom: -40px;
    z-index: -1;
}
.qm-3{
    font-size: 230px;
    color: #438EFF;
    filter: drop-shadow(5px 5px 0px #385ab7);
    position: absolute;
    right: -30px;
    bottom: -70px;
}
@media screen and (max-width: 1150px) {
    .question-mark-wrapper{
        transform: translateY(-70%) scale(110%);
    }
}
@media screen and (max-width: 925px) {
    .categories-wrapper{
        grid-template-columns: repeat(3, 1fr); 
        gap: 25px;
    }
    .question-mark-wrapper{
        display: none;
    }
}
@media screen and (max-width: 845px) {
    #header{
        justify-content: center;
    }
    .header-content{
        margin-right: unset;
    }
    .header-content > h1{
        font-size: 70px;
    }
    .header-content > h2{
        font-size: 35px;
    }
    .user-wrapper{
        display: none;
    }
    .card > p{
        font-size: 18px;
    }
    #how-to-start{
        height: unset;
    }
    .hts-path{
        display: none;
    }
}
@media screen and (max-width: 1055px) {
    .row-input{
        width: 100%;
    }
}
@media screen and (max-width: 665px) {
    .categories-wrapper{
        grid-template-columns: repeat(2, 1fr); 
        gap: 25px;
    }
    .hts-row{
        justify-content: space-around;
        gap: unset;
    }
}
@media screen and (max-width: 650px) {
    .row-input{
        font-size: 20px;
        height: 150px;
    }
    #how-to-start > .hts-wrapper > p{
        width: 100%;
        min-width: unset;
    }
    .hts-row{
        display: grid;
        grid-template-columns: auto auto;
        gap: 35px;
    }
}
@media screen and (max-width: 475px) {
    #how-to-start > .hts-wrapper > h2 {
        text-align: center;
        font-size: 45px;
    }
    #how-to-start > .hts-wrapper > p {
        text-align: justify;
        font-size: 18px;
        margin-top: 15px;
    }
    #how-to-start > .hts-wrapper > a {
        width: 100%;
        margin-top: 15px;
    }
}
@media screen and (max-width: 445px) {
    .categories-wrapper{
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }
    .cat-card{
        width: 100%;
    }
    .card-header{
        width: 110px;
        height: 110px;
    }
}