body{
    background: rgb(242,242,242);
    background: linear-gradient(76deg, rgba(242,242,242,1) 50%, rgba(223,236,255,1) 100%);
    background-size: cover;
}
main{
    width: 100%;
    padding: 45px;
}
.panel-container{
    min-height: 100vh;
    display: flex;
}
.admin-nav{
    width: 280px;
}
.nav-header{
    display: flex;
    justify-content: space-between !important;
}
.toggleMenuBtn{
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;

    font-size: 35px;
}
.dropdown{
    position: absolute;
    bottom: 15px;
}
.dropdown > hr{
    width: 245px;
}
@media screen and (max-width: 880px) {
    main{
        padding: 45px 20px;
    }
    .panel-container{
        min-height: 100vh;
    
        display: flex;
        flex-direction: column;
    }
    .admin-nav{
        width: 100%;
    }
    .toggleMenuBtn{
        display: flex;
    }
    .nav-content{
        height: 0px;
        overflow: hidden;
        transition: 0.3s;
    }
    .toggle-active{
        height: 40vh;
    }
    .dropdown{
        position: unset;
        bottom: unset;
    }
    .dropdown > hr{
        width: 100%;
    }
}